.h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.postList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 1rem;
    }
.card__body {
    padding: 24px;
    box-sizing: border-box;
    background-color: rgb(213, 232, 248);
    
}
.dashboard {
    margin-bottom: 20px;
    padding: 20px 10px 20px 10px;
}